# CONFIGURACIÓN DE SMTP PARA CORREO CORPORATIVO (ZOHO MAIL)
SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_USER=tu-correo@tudominio.com
SMTP_PASS=tu-contrasena-de-aplicacion-o-cuenta
CONTACT_RECEIVER=correo-donde-recibiras-los-mensajes@tudominio.com
